@mixin magic-border($width, $color, $duration, $direction){
    position:relative;
      &:before{
        content:'';
        position:absolute;
        width:calc(100% + #{$width * 2});
        height:calc(100% + #{$width * 2});
        top:calc(#{$width}/-1);
        left:calc(#{$width}/-1);
        background:linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
        background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
        background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
        background-repeat:no-repeat, no-repeat;
        transition:transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
        transform:scaleX(0) rotate(180deg * $direction);
        transition-delay:$duration*2, $duration, 0s;
      }
      &:hover{
        &:before{
          background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
          background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
          transform:scaleX(1) rotate(180deg * $direction);
          transition-delay:0s, $duration, $duration*2;
        }
      }
  }
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap');
section{
    display:flex;
    justify-content: center;
    gap:50px;
    align-items:center;
    flex-wrap:wrap;
    background-color:black;
    padding:20px;
    .card{
        width:300px;
        color:white;
        @include magic-border(2px, grey, 0.2s, 0);
        text-align:center;
        &:hover{
            cursor:pointer;
        }
    }
    
}

h1{
  font-family: 'Barlow', sans-serif;
  font-weight:400;
  color:white;
  text-align: center;
}
h2{
  font-family: 'Barlow', sans-serif;
  font-weight:100;
  font-size:20px;
}