<h1>Mis habilidades</h1>
<section>
    <div class="card">
        <h1>HTML</h1>
        <h2>Nivel: Medio/Alto </h2>
    </div>
    <div class="card">
        <h1>CSS</h1>
        <h2>Nivel: Medio/Avanzado</h2>
    </div>
    <div class="card">
        <h1>JAVASCRIPT</h1>
        <h2>Nivel: Medio/Avanzado</h2>
    </div>
    <div class="card">
        <h1>TYPESCRIPT</h1>
        <h2>Nivel: Medio</h2>
    </div>
    <div class="card">
        <h1>BOOTSTRAP</h1>
        <h2>Nivel: Avanzado</h2>
    </div>
    <div class="card">
        <h1>BULMA</h1>
        <h2>Nivel: Avanzado</h2>
    </div>
    <div class="card">
        <h1>ANGULAR</h1>
        <h2>Nivel: Medio/Avanzado</h2>
    </div>
    <div class="card">
        <h1>GIT</h1>
        <h2>Nivel: Medio/Avanzado</h2>
    </div>
</section>
